<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<html>
    {% include head.html %}
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Michael Lanyon<br />
                  Technology Director
                </p>
              </div>
              <div class="social-icons">
                <a href="https://github.com/lanyonm"><i class="icon-github icon-2x"></i></a>
                <a href="https://twitter.com/lanyonm"><i class="icon-twitter icon-2x"></i></a>
                <a href="http://www.linkedin.com/in/lanyonm"><i class="icon-linkedin icon-2x"></i></a>
                <a href="https://plus.google.com/107712815082559800507"><i class="icon-plus icon-2x"></i></a>
              </div>
              <div class="rss">
                <a href="/feed.xml"><i class="icon-rss icon-2x"></i></a>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
{% include scripts.html %}
    </body>
</html>
