<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
       content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.name }}</a>
          <small>{{ site.description }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
      {{ content }}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>


  <!--

      <div class="footer">
        <div class="links">
          <div class="social-icons">
            <a href="https://github.com/lanyonm"><i class="icon-github icon-2x"></i></a>
            <a href="https://twitter.com/lanyonm"><i class="icon-twitter icon-2x"></i></a>
            <a href="http://www.linkedin.com/in/lanyonm"><i class="icon-linkedin icon-2x"></i></a>
            <a href="https://plus.google.com/107712815082559800507?rel=author"><i class="icon-plus icon-2x"></i></a>
          </div>
          <div class="rss">
            <a href="/feed.xml"><i class="icon-rss icon-2x"></i></a>
          </div>
        </div>
        <div class="contact">
          <p>
            Michael Lanyon<br />
            VP of Engineering
          </p>
        </div>

  -->
{% include scripts.html %}
</body>
</html>
