---
layout: default
---
<article itemscope itemtype="http://schema.org/Article">
  <h2 itemprop="name">{{ page.title }}</h2>
  <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags.html#{{ tag | url_encode | replace: ' ', '%20' }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</span>
  <p class="meta" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</p>
  <!-- {% if page.comments %}<p><a href="{{ site.url }}{{ page.url }}#disqus_thread">Comments</a></p>{% endif %} -->

  <div class="post">
  {{ content }}
  {% if page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
  </div>
</article>
